# RDF & SKOS verwerking
rdflib
pyshacl

# Templating & bestandsgeneratie
python-slugify
jinja2

# Natural Language Processing (NLP)
spacy
PatternLite

# OS-agnostische task runner
invoke
