// Breadcrumb: fix visually messy word wraps in long breadcrumbs
.breadcrumb-nav-list-item {
    display: inline-block;
}

// Definition list: in the default grid template, the left-column is too small
.main-content dl {
    grid-template: none;
}
// Definition list: fix margin in multi-line items
.main-content dt {
    margin-bottom: 0;
}
// Definition list: remove colon
.main-content dt::after {
    content: "";
}

// Navbar
.site-nav {
    scrollbar-width: thin;
    scrollbar-color: #d9e7ef transparent;
}
