// Breadcrumb: fix visually messy word wraps in long breadcrumbs
.breadcrumb-nav-list-item {
    display: inline-block;
}

// Definition list: fit column width to content
dl.concept-properties {
    grid-template-columns: fit-content(33%) 1fr;
}
// Definition list: more space between (multi-line) items
dl.concept-properties dt:nth-child(n+2), dl.concept-properties dt:nth-child(n+2) + dd {
    margin-top: 1em;
}
// Definition list: fix margin in multi-line items
dl.concept-properties dt {
    margin-bottom: 0;
}
// Definition list: remove colon
dl.concept-properties dt::after {
    content: "";
}
// Definition list on smaller screens: no columns
@media (max-width: map-get($media-queries, lg)) {
    dl.concept-properties {
        display: block;
    }
    dl.concept-properties dt {
        text-align: left;
    }
    dl.concept-properties dt:nth-child(n+1) + dd {
        margin-top: 0;
    }
    dl.concept-properties dd {
        margin-left: 0;
    }
}

// Navbar
.site-nav {
    scrollbar-width: thin;
    scrollbar-color: #d9e7ef transparent;
}

// Auto link
.auto-link {
    color: inherit;
    text-decoration: underline dotted $link-color;
}
.auto-link:hover {
    color: $link-color;
    text-decoration-style: solid;
}
