// Breadcrumb: fix visually messy word wraps in long breadcrumbs
.breadcrumb-nav-list-item {
    display: inline-block;
}

// Definition list: allow broader columns
.main-content dl {
    grid-template-columns: fit-content(30%) 1fr;
}
// Definition list: more space between rows
.main-content dt, .main-content dt + dd {
    margin-top: 1em;
}
// Definition list: fix margin in multi-line items
.main-content dt {
    margin-bottom: 0;
}
// Definition list: remove colon
.main-content dt::after {
    content: "";
}
// Definition list on smaller screens: no columns
@media (max-width: map-get($media-queries, lg)) {
    .main-content dl {
        display: block;
    }
    .main-content dt {
        text-align: left;
    }
    .main-content dt + dd {
        margin-top: 0;
    }
    .main-content dd {
        margin-left: 0;
    }
}

// Navbar
.site-nav {
    scrollbar-width: thin;
    scrollbar-color: #d9e7ef transparent;
}
