// Definition list: fix margin in multi-line items
.main-content dt {
    margin-bottom: 0;
}

// Definition list: add border
.main-content dl {
    border-top: 1px dotted $grey-lt-300;
}

// Navbar
.site-nav {
    scrollbar-width: thin;
    scrollbar-color: #d9e7ef transparent;
}
