// Breadcrumb: fix visually messy word wraps in long breadcrumbs
.breadcrumb-nav-list-item {
    display: inline-block;
}

// Definition list: fit column width to content
.main-content dl {
    grid-template-columns: fit-content(33%) 1fr;
}
// Definition list: more space between (multi-line) items
.main-content dt:nth-child(n+2), .main-content dt:nth-child(n+2) + dd {
    margin-top: 1em;
}
// Definition list: fix margin in multi-line items
.main-content dt {
    margin-bottom: 0;
}
// Definition list: remove colon
.main-content dt::after {
    content: "";
}
// Definition list on smaller screens: no columns
@media (max-width: map-get($media-queries, lg)) {
    .main-content dl {
        display: block;
    }
    .main-content dt {
        text-align: left;
    }
    .main-content dt:nth-child(n+1) + dd {
        margin-top: 0;
    }
    .main-content dd {
        margin-left: 0;
    }
}

// Navbar
.site-nav {
    scrollbar-width: thin;
    scrollbar-color: #d9e7ef transparent;
}

// Auto link
.auto-link {
  text-decoration: none;
  border-bottom: 1px dotted $link-color;
  cursor: help;
}
.auto-link:hover {
  border-bottom-style: solid;
}
