---
title: "{{ alias_term }}"
nav_exclude: true
permalink: {{ permalink }}
redirect_to: {{ target_url }}
---

<meta http-equiv="refresh" content="0; url={{ target_url }}">

# Doorverwijzing

Je zoekt naar **{{ alias_term }}**. 
Je wordt doorverwezen naar: [{{ target_label }}]({{ target_url }}).

{: .note }
Klik op de link als je niet automatisch wordt doorgestuurd.
