---
title: Startpagina
nav_order: 1
permalink: /
---

{: .note }
Kijk gerust rond! Aan deze website wordt momenteel nog gewerkt.

# {{ naam }}

Gebruik het navigatiemenu of de zoekbalk om begrippen te vinden.

## Uitleg

{{ uitleg }}

## Machineleesbare data

Dit begrippenkader is beschikbaar als linked data in [TTL-formaat](begrippenkader.ttl). Om de integratie van dit begrippenkader in andere systemen te vereenvoudigen, bieden we een lookup-tabel aan in [JSON-formaat](begrippen.json). Hiermee kun je betekenisloze referenties omzetten naar hun voorkeursterm.
